.bg-head{ margin:0}
.alert-default{background-color:#e3e3e3}
.midashi{color:#3300cc;margin-right:10px;}
/*global navi custom	color:yellow*/

/*.nav-custom {background-color: #f4c583;border-color: #edd3a1;margin-bottom:5px}*/
.nav-custom {background-color: #D5D8F4;border-color: #CCD0F3;margin-bottom:5px}

.nav-custom li {border-left: 1px solid #CCD0F3;}
a.navbar-brand,.nav-custom li a , .navbar-brand {color: #000;}
.nav-custom li a:hover,a.navbar-brand:hover,a.nav-brand:focus {background-color: #C6C6EE}
div.noboder{border:none !important}
.pt12{padding-top:12px !important}
.dgray {background:#a9a9a9 !important}
.selcol{background:#ffd700}
.can,.call{background:#fff}
/*空き表示*/
#rsv tr td ,.rsv tr td{text-align:center;font-size:16px;height:40px;font-weight:normal}
#rsv tr td img,.rsv tr td img{width:100%}

.rsv tr th,#rsv tr th{background-color:#e3e3e3;font-weight:normal}
.rsv tr.head th,#rsv tr.head th{text-align:center;font-weight:normal;vertical-align:bottom;}
.rsv .btn,#rsv .btn{margin-left:5px}
.rsv .f120,#rsv .f120{font-size:120%}
.rsv .f150,#rsv .f150{font-size:150%}
.rsv tr th.col-sun,#rsv tr th.col-sun{color:#ff0000}
.rsv tr th.col-sat,#rsv tr th.col-sat{color:#0000cd}
.rsv tr th.bg-another,#rsv tr th.bg-another{background:#ded0d2}
.rsv tr.fff th,#rsv tr.fff th{background: #fff;border:1px solid #fff;; border-bottom: 1px solid #c0c0c0;}

/*入力*/
#rsv_input tr td{font-weight:normal}
#rsv_input tr th{background-color:#d3d3d3;font-weight:normal}


.ml5{margin-left:5px}
.ml10{margin-left:10px}
.ml20{margin-left:20px}
.mb10{margin-bottom:10px}
.mr48p{margin-right:500px;}
.mr20{margin-right:20px;}

.f120{font-size:120%}
.btn-logout {
    background-color: #CCCBEC;
    color: #000;
}

.hanrei {
    border: 1px solid transparent;
    margin-bottom: 10px;
    padding: 10px;
    padding-top:0;
}

.status1{color:#0000ff}/*申請中*/
.status2{color:#ff0000}/*受付不可*/
/*.status3{color:#008000}*//*仮予約*/
.status3{color:#6600cc}/*仮予約*/
.status4{color:#000}/*失効*/
.status5{color:#000}/*取消*/
.status6{color:#000080}/*予約*/

div#srch{
 background:#eae1cf;
 margin-bottom:30px;

}

div#srch hr{ margin-bottom:0;}
div#srch table td{ background: #fff;}

input[type=text] {padding:5px;}

.short{width:70px}
.date{width:100px}
.long{width:80%}
.note{color:#696969;font-size:0.9em}
.small8{font-size:0.8em}
.small{font-size:0.7em}
.red{color:red;font-weight:normal;font-size:0.9em}
.ml5{margin-left:5px}
.ml20{margin-left:20px}
.ml10{margin-left:10px}
.mr10{margin-right:10px}
.ml20{margin-left:20px}
.mb0{margin-bottom:0;}
.mb10{margin-bottom:10px}
.mb20{margin-bottom:20px}
.nest tr th{width:33%;background: #fff !important;}
.nest2 tr th{width:48%;background: #fff !important;}

.nestcnf tr th{width:45%;background: #fff !important;}
.txr{text-align:right}

.f120{font-size:120%}
select{margin-bottom:5px;height:25px}
input[type=radio] {width:15px;height:15px;}
label,table th{font-weight:normal;}

table  th{background:#d3d3d3;padding-left:5px;word-break:break-all;}
table#regist tr td{padding:10px !important}

.qa tr td{padding-bottom:10px !important} 

 *.kiyaku{
   border: solid 1px #808080;
   width: 100%;
   height: 500px;
   padding: 0.5em;
   font-size:1.2em;
   overflow: auto;
   margin-bottom:20px;
}
#sttbtn,#endbtn{cursor:pointer}
dd{margin:10px;}

/* テキスト */
.txt20{min-width:380px}
.txt25{min-width:408px}

/*keta*/
#srch .checkbox-inline,#srch .checkbox-inline + .checkbox-inline{margin-left:0;margin-right:10px}


.btn-default2 {
  color: #333;
  background-color: #CCCBEC;
  border-color: #ccc;
}

span.small {font-size: 100%; }
span.green {color: #1EB35F; }